a.btn, button.btn, .btn {
  color: #333;
  display: inline-block;
  padding: 4px 10px;
  font-size: 13px;
  height: 28px;
  border: none;
  outline: none;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 1px rgba(255, 255, 255, 0.1);
  -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 1px rgba(255, 255, 255, 0.1);
  -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 1px rgba(255, 255, 255, 0.1);
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(127, 127, 127, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-color: rgba(0, 0, 0, 0.05); }

.btn.btn-link {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: inherit; }

.btn:hover {
  background-color: rgba(133, 133, 133, 0.075);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1));
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 1px rgba(255, 255, 255, 0.1);
  -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 1px rgba(255, 255, 255, 0.1);
  -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 1px rgba(255, 255, 255, 0.1); }

.btn:active {
  -webkit-box-shadow: 0 -1px 0 1px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.1) inset, 0 0 3px 2px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 -1px 0 1px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.1) inset, 0 0 3px 2px rgba(0, 0, 0, 0.05) inset;
  -ms-box-shadow: 0 -1px 0 1px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.1) inset, 0 0 3px 2px rgba(0, 0, 0, 0.05) inset;
  -o-box-shadow: 0 -1px 0 1px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.1) inset, 0 0 3px 2px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 -1px 0 1px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.1) inset, 0 0 3px 2px rgba(0, 0, 0, 0.05) inset;
  background-color: rgba(127, 127, 127, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)); }

.btn.btn-success {
  background-color: #009900;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00b300), to(#00b300));
  background-image: -webkit-linear-gradient(top, #00b300, #008000);
  background-image: -moz-linear-gradient(top, #00b300, #008000);
  background-image: -o-linear-gradient(top, #00b300, #008000);
  background-image: linear-gradient(to bottom, #00b300, #008000);
  color: #ccffcc; }

.btn.btn-success:hover {
  background-color: #00b200;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00cc00), to(#00cc00));
  background-image: -webkit-linear-gradient(top, #00cc00, #090);
  background-image: -moz-linear-gradient(top, #00cc00, #090);
  background-image: -o-linear-gradient(top, #00cc00, #090);
  background-image: linear-gradient(to bottom, #00cc00, #090); }

.btn.btn-success:active {
  background-color: #007f00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#006600), to(#006600));
  background-image: -webkit-linear-gradient(top, #006600, #090);
  background-image: -moz-linear-gradient(top, #006600, #090);
  background-image: -o-linear-gradient(top, #006600, #090);
  background-image: linear-gradient(to bottom, #006600, #090); }

.btn.btn-warning {
  background-color: #f2870c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff941a), to(#ff941a));
  background-image: -webkit-linear-gradient(top, #ff941a, #e67a00);
  background-image: -moz-linear-gradient(top, #ff941a, #e67a00);
  background-image: -o-linear-gradient(top, #ff941a, #e67a00);
  background-image: linear-gradient(to bottom, #ff941a, #e67a00);
  color: black; }

.btn.btn-warning:hover {
  background-color: #ff9319;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffa033), to(#ffa033));
  background-image: -webkit-linear-gradient(top, #ffa033, #F80);
  background-image: -moz-linear-gradient(top, #ffa033, #F80);
  background-image: -o-linear-gradient(top, #ffa033, #F80);
  background-image: linear-gradient(to bottom, #ffa033, #F80); }

.btn.btn-warning:active {
  background-color: #e57a00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cc6d00), to(#cc6d00));
  background-image: -webkit-linear-gradient(top, #cc6d00, #F80);
  background-image: -moz-linear-gradient(top, #cc6d00, #F80);
  background-image: -o-linear-gradient(top, #cc6d00, #F80);
  background-image: linear-gradient(to bottom, #cc6d00, #F80); }

.btn.btn-error {
  background-color: #cc0000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e60000), to(#e60000));
  background-image: -webkit-linear-gradient(top, #e60000, #b30000);
  background-image: -moz-linear-gradient(top, #e60000, #b30000);
  background-image: -o-linear-gradient(top, #e60000, #b30000);
  background-image: linear-gradient(to bottom, #e60000, #b30000);
  color: white; }

.btn.btn-error:hover {
  background-color: #e50000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000));
  background-image: -webkit-linear-gradient(top, #ff0000, #C00);
  background-image: -moz-linear-gradient(top, #ff0000, #C00);
  background-image: -o-linear-gradient(top, #ff0000, #C00);
  background-image: linear-gradient(to bottom, #ff0000, #C00); }

.btn.btn-error:active {
  background-color: #b20000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#990000));
  background-image: -webkit-linear-gradient(top, #990000, #C00);
  background-image: -moz-linear-gradient(top, #990000, #C00);
  background-image: -o-linear-gradient(top, #990000, #C00);
  background-image: linear-gradient(to bottom, #990000, #C00); }

.btn.btn-info {
  background-color: #0085c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0097de), to(#0097de));
  background-image: -webkit-linear-gradient(top, #0097de, #0075ab);
  background-image: -moz-linear-gradient(top, #0097de, #0075ab);
  background-image: -o-linear-gradient(top, #0097de, #0075ab);
  background-image: linear-gradient(to bottom, #0097de, #0075ab);
  color: #f7fcff; }

.btn.btn-info:hover {
  background-color: #0095dd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00a9f7), to(#00a9f7));
  background-image: -webkit-linear-gradient(top, #00a9f7, #0083C4);
  background-image: -moz-linear-gradient(top, #00a9f7, #0083C4);
  background-image: -o-linear-gradient(top, #00a9f7, #0083C4);
  background-image: linear-gradient(to bottom, #00a9f7, #0083C4); }

.btn.btn-info:active {
  background-color: #0073aa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#006391), to(#006391));
  background-image: -webkit-linear-gradient(top, #006391, #0083C4);
  background-image: -moz-linear-gradient(top, #006391, #0083C4);
  background-image: -o-linear-gradient(top, #006391, #0083C4);
  background-image: linear-gradient(to bottom, #006391, #0083C4); }

.btn.btn-inverse {
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d0d0d), to(#0d0d0d));
  background-image: -webkit-linear-gradient(top, #0d0d0d, #000000);
  background-image: -moz-linear-gradient(top, #0d0d0d, #000000);
  background-image: -o-linear-gradient(top, #0d0d0d, #000000);
  background-image: linear-gradient(to bottom, #0d0d0d, #000000);
  color: #999999; }

.btn.btn-inverse:hover {
  background-color: #0c0c0c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #1a1a1a, #000);
  background-image: -moz-linear-gradient(top, #1a1a1a, #000);
  background-image: -o-linear-gradient(top, #1a1a1a, #000);
  background-image: linear-gradient(to bottom, #1a1a1a, #000); }

.btn.btn-inverse:active {
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background-image: -webkit-linear-gradient(top, #000000, #000);
  background-image: -moz-linear-gradient(top, #000000, #000);
  background-image: -o-linear-gradient(top, #000000, #000);
  background-image: linear-gradient(to bottom, #000000, #000); }

.label {
  padding: 0 0.3em;
  margin: 0 2px;
  background: #999;
  color: #fff;
  border-radius: 3px;
  opacity: 0.7; }

.indicator {
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 50%;
  background: #999;
  vertical-align: bottom;
  content: '';
  margin: 2px; }

.indicator-success, .label-success {
  background: #090; }

.indicator-warning, .label-warning {
  background: #F80; }

.indicator-error, .label-error {
  background: #C00; }

.indicator-info, .label-info {
  background: #0083C4; }

.indicator-inverse, .label-inverse {
  background: #000; }

[ui-switch] {
  -ms-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  width: 2.5em;
  height: 1em;
  color: #333;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  font-size: 20px;
  vertical-align: text-bottom;
  cursor: pointer; }
  [ui-switch] .ui-switch-position {
    -webkit-transition: left 0.25s ease-out;
    -moz-transition: left 0.25s ease-out;
    -ms-transition: left 0.25s ease-out;
    -o-transition: left 0.25s ease-out;
    transition: left 0.25s ease-out; }
  [ui-switch] .ui-switch-thumb {
    width: 1.25em;
    height: 1em;
    box-shadow: 0 0 0.03em rgba(0, 0, 0, 0.5), 0 -0.5em 0 rgba(0, 0, 0, 0.05) inset, 0 0.5em 0 white inset;
    background: #fafafa;
    position: absolute;
    border-radius: 0.15em;
    margin-left: 1.25em;
    border: solid 1px rgba(0, 0, 0, 0.15);
    top: 0; }
  [ui-switch] .ui-switch-outer {
    position: relative;
    width: 2.5em;
    height: 1em;
    overflow: hidden;
    border: solid 1px rgba(255, 255, 255, 0.8);
    border-radius: 0.15em;
    box-shadow: 0 0 0.03em rgba(0, 0, 0, 0.3) inset; }
    [ui-switch] .ui-switch-outer .ui-switch-inner {
      position: relative;
      width: 3.5em;
      height: 1em;
      left: -1em;
      top: 0; }
      [ui-switch] .ui-switch-outer .ui-switch-inner > div {
        width: 2em;
        position: absolute;
        left: 1.75em; }
        [ui-switch] .ui-switch-outer .ui-switch-inner > div > span {
          font-size: 65%;
          display: block;
          margin: 0 1.2em;
          vertical-align: top; }
      [ui-switch] .ui-switch-outer .ui-switch-inner > div:first-child {
        left: 0em; }
        [ui-switch] .ui-switch-outer .ui-switch-inner > div:first-child > span {
          margin-left: 0; }
      [ui-switch] .ui-switch-outer .ui-switch-inner > div:last-child > span {
        margin-right: 0; }

[ui-switch]:hover .ui-switch-thumb {
  background: #eee;
  box-shadow: 0 0 0.04em rgba(0, 0, 0, 0.7), 0 -0.5em 0 rgba(0, 0, 0, 0.05) inset, 0 0.5em 0 rgba(255, 255, 255, 0.5) inset; }

body {
  padding: 40px 0 0 0;
  margin: 0;
  font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  background: #f0ddbc url('/assets/images/background.png');
  color: #1e1e1e; }

a, a:hover {
  text-decoration: none; }

header.navbar.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -ms-box-shadow: 0 0 5px #000;
  -o-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  background: #505050;
  color: #f0f0f0; }

header.navbar {
  -ms-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: orange;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbe19), to(#ffbe19));
  background-image: -webkit-linear-gradient(top, #ffbe19, #e68c00);
  background-image: -moz-linear-gradient(top, #ffbe19, #e68c00);
  background-image: -o-linear-gradient(top, #ffbe19, #e68c00);
  background-image: linear-gradient(to bottom, #ffbe19, #e68c00);
  color: black;
  padding: 10px;
  line-height: 20px;
  height: 20px; }
  header.navbar .btn {
    float: right;
    color: #f0f0f0;
    margin: -4px 0 -4px 8px;
    font-size: 14px;
    -webkit-box-shadow: 0 -1px 0 1px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 -1px 0 1px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 -1px 0 1px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 -1px 0 1px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 -1px 0 1px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.05); }
  header.navbar .btn:hover {
    background-color: rgba(255, 255, 255, 0.1); }

header.navbar.fixed-top h1.brand {
  font-size: 1em;
  margin: 0 1em;
  display: inline-block;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
  header.navbar.fixed-top h1.brand > a {
    color: #f0f0f0;
    text-decoration: none; }
header.navbar.fixed-top #main-menu {
  margin: -10px 0;
  padding: 0;
  display: inline-block; }
  header.navbar.fixed-top #main-menu > li {
    display: inline-block;
    list-style: none;
    cursor: pointer; }
    header.navbar.fixed-top #main-menu > li a {
      color: orangered;
      padding: 10px 20px;
      display: block; }
  header.navbar.fixed-top #main-menu > li:hover a, header.navbar.fixed-top #main-menu > li:active > a {
    color: orange; }
  header.navbar.fixed-top #main-menu > li.active {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset; }

@media (max-width: 767px) {
  header.navbar.fixed-top {
    position: absolute; }
    header.navbar.fixed-top #main-menu {
      display: none;
      margin: 0; }
  header.navbar.fixed-top.open #main-menu {
    display: block;
    margin: 10px 0; }
    header.navbar.fixed-top.open #main-menu li {
      display: block;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; } }

@media (min-width: 768px) {
  .hide-large {
    display: none !important; } }

.newsbox {
  margin: 2% auto;
  max-width: 1008px; }
  .newsbox article {
    float: left;
    position: relative;
    padding: 20px 20px 36px 20px;
    margin: 20px;
    overflow: hidden;
    width: 100%;
    height: 12em;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f0ddbc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F0D3), to(#F9F0D3));
    background-image: -webkit-linear-gradient(top, #F9F0D3, #E7CAA6);
    background-image: -moz-linear-gradient(top, #F9F0D3, #E7CAA6);
    background-image: -o-linear-gradient(top, #F9F0D3, #E7CAA6);
    background-image: linear-gradient(to bottom, #F9F0D3, #E7CAA6);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
    .newsbox article h1 {
      margin: 0 0 0.5em 0;
      padding: 0 40px 5px 0;
      font-variant: small-caps;
      font-size: 118%;
      font-weight: 500;
      line-height: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
    .newsbox article p {
      overflow: hidden;
      height: 6em;
      line-height: 1.5;
      text-align: justify;
      margin: 0; }
    .newsbox article footer {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 10px; }
      .newsbox article footer .post-date {
        color: rgba(0, 0, 0, 0.5); }
      .newsbox article footer .post-category {
        float: right;
        -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        -ms-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        -o-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
    .newsbox article .btn.readmore {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 30px;
      padding: 0;
      height: 30px;
      line-height: 30px; }

.container {
  margin: 0 auto; }

@media (min-width: 1200px) {
  .container {
    max-width: 1185px; }
    .container article {
      max-width: 552px; } }

@media (max-width: 1199px) and (min-width: 980px) {
  .container {
    max-width: 965px; }
    .container article {
      max-width: 442px; } }

@media (max-width: 979px) and (min-width: 768px) {
  .container {
    max-width: 750px; }
    .container article {
      max-width: 335px; } }

@media (max-width: 767px) and (min-width: 480px) {
  .container {
    max-width: 465px; }
    .container article {
      max-width: 425px; } }

@media (max-width: 479px) {
  .container {
    max-width: 100%; }
    .container article {
      max-width: 100%;
      margin: 0;
      height: auto;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
      .container article p {
        height: auto; } }

.log table {
  background: rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
  font-size: 14px; }
  .log table td, .log table th {
    max-width: 300px;
    padding: 0 10px;
    border: solid 1px #ccc;
    overflow: hidden;
    white-space: nowrap; }
  .log table th {
    background-color: #f0ddbc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F0D3), to(#F9F0D3));
    background-image: -webkit-linear-gradient(top, #F9F0D3, #E7CAA6);
    background-image: -moz-linear-gradient(top, #F9F0D3, #E7CAA6);
    background-image: -o-linear-gradient(top, #F9F0D3, #E7CAA6);
    background-image: linear-gradient(to bottom, #F9F0D3, #E7CAA6);
    padding: 4px 10px; }
  .log table td {
    text-overflow: ellipsis; }
  .log table td:nth-child(1), .log table td:nth-child(2), .log table td:nth-child(4), .log table td:nth-child(5) {
    text-align: right; }
  .log table td:nth-child(3) {
    padding-left: 0; }
  .log table td:nth-child(4) {
    padding-right: 0; }

.options-container {
  display: none;
  z-index: 2000;
  position: fixed;
  top: -5000px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  text-align: center; }
  .options-container .options {
    color: #f0f0f0;
    background: #505050;
    position: absolute;
    display: inline-block;
    top: -1000px;
    width: 480px;
    max-height: 990px;
    margin: 0 -240px;
    text-align: left;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
    .options-container .options .options-row {
      border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
      .options-container .options .options-row label {
        margin: 0.5em 0;
        display: block; }
    .options-container .options .options-row:last-child {
      border-bottom: none; }
    .options-container .options .options-actions {
      margin: 30px 0 0;
      text-align: right; }
    .options-container .options .btn-close {
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 10px;
      font-size: 20px;
      font-weight: bold;
      font-style: normal; }
    .options-container .options .btn {
      color: #f0f0f0; }

.options-container.open {
  display: block;
  height: 100%; }
  .options-container.open .options {
    top: 50px; }

@media (max-width: 767px) {
  .options-container {
    background: none; }
  .options-container.open .options {
    right: 10px;
    left: 10px;
    top: 10px;
    bottom: 10px;
    width: auto;
    margin: 0;
    box-shadow: 0 0 20px #000; } }
