.newsbox {
	margin: 2% auto;
	max-width: 1008px;

	article {
		float: left;
		position: relative;
		padding: $postPadding $postPadding $postPadding+$postFontsize $postPadding;
		margin: $postPadding;
		overflow: hidden;
		width: 100%;
		height: 12em;
		width: 100%;
		max-width: $postWidth;
		font-size: $postFontsize;
		border-radius: 3px;
		@include box-sizing(border-box);
		@include horizontal-gradient($postGradientColor1, $postGradientColor2);
		box-shadow: 0 2px 2px rgba(0,0,0,.2);
		h1 {
			margin: 0 0 .5em 0;
			padding: 0 40px 5px 0;
			font-variant: small-caps;
			font-size: 118%;
			font-weight: 500;
			line-height: 30px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			border-bottom: solid 1px rgba(0,0,0,.1);
		}
		p {
			overflow:hidden;
			height: 6em;
			line-height: 1.5;
			text-align: justify;
			margin: 0;
		}
		footer {
			position: absolute;
			left: $postPadding;
			right: $postPadding;
			bottom: $postPadding/2;
			.post-date {
				color: rgba(0,0,0,.5);
			}
			.post-category {
				float: right;
				@include text-shadow(0 1px 0 rgba(255,255,255,.5));
			}
		}
		.btn.readmore {
			position: absolute;
			right: $postPadding;
			top: $postPadding;
			width: 30px;
			padding: 0;
			height: 30px;
			line-height: 30px;
			color: inherit;
		}
	}
}
@import "news-phones";