/* http://colorschemedesigner.com/#2321Tw0w0w0w0 */
$themeColorMain: #C4F83E;
$themeColorAlternative: #719D00;
$themeColorBright: #FFFFFF;
$themeColorComplement: #7F0055;
$themeColorFaded: #E0E0E0;

$postGradientColor1: lighten( $themeColorMain, 15% );
$postGradientColor2: lighten( $themeColorMain, 5% );

$background: $themeColorBright;
$featureBackground: $themeColorComplement;
$feature2Background: $themeColorFaded;
$dialogBackground: $themeColorFaded;

$color: adjust-contrast($background);
$featureColor: adjust-contrast($featureBackground);

$feature2Color: adjust-contrast($feature2Background);
$dialogColor: adjust-contrast($dialogBackground);

$postWidth: 300px;
$postPadding: 20px;
$postFontsize: 16px;

$labelColors: ( success, #090 ), ( warning, #F80 ), ( error, #C00 ), ( info, #0083C4 ), ( inverse, #000 );