<!DOCTYPE html>
<html ng-app="app" lang="en" xmlns:ng="http://angularjs.org">
    <head>
		<!-- This will help us to properly display all UTF-8 characters -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Let Microsoft handle this page in the best way -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Prevent page scaling on iPhone and Android devices -->
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0,width=device-width">
		<!-- Inform Blackberry devices that this app is smartphone-compatible -->
        <meta name="HandheldFriendly" content="true">
		<!-- Get an elegant font and needed libraries from CDN (don't specify url schema so it could adjust dynamically) -->
		<link href="//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&amp;subset=latin-ext" rel="stylesheet" type="text/css">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>

		<title>#1 App</title>

		<!-- Let this app be easily identified in browser's favourites and on iOS homescreen -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" HREF="/apple-touch-icon.png" />

		<!-- Font Awesome is a bootstrap-like icon set powered by web fonts -->
		<link rel="stylesheet" href="/assets/css/app.css" type="text/css" media="all" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" type="text/css" media="all" />
	</head>

	<body>
		<header class="navbar fixed-top" ng-controller="MenuController">
			<h1 class="brand">
				<a href="/">#1 App</a>
			</h1>
			<button class="btn navbar-btn hide-large" ng-click="toggleMenu()">
				<i class="fa fa-bars"></i>
			</button>
			<span ng-include src="'/assets/views/options.html'"></span>
			<ul id="main-menu">
				<li ng-repeat="item in menu.items" ng-class="{'active': menu.selectedRoute==item.route}">
					<a ng-href="#{[item.route]}">{[ item.label ]}</a>
				</li>
			</ul>
		</header>
		<div ng-view></div>

		<script src="/assets/js/app.js"></script>
	</body>
</html>
